

*/
* {
    margin: 0;
    padding: 0;
}
header {

    color:#e8aaff;
    display:block;
    font: 14px/1.3 Futura,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
    text-align: center;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
    text-align: center;

}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.container{
  text-align: center;
}

.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


/* Animation */
.astronaut{
  width:204px;
  height:170px;
  position: absolute;
  left: -20px;
  top: 20px;
  -webkit-animation: rock-naut 3s ease-in-out infinite;
}
/* Keyframes */
@-webkit-keyframes rock-naut {

  50% { -webkit-transform: rotate(-5deg) translateY(-10px); }
} 



/* Gallery */

.nav, 
.nav li{
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 0 20px 0 0;
}

a {
  text-decoration: none;
  color: #965F53;
  font-family: 'Arvo', serif;
  text-align: center;
  display: inline-block;
}



ul.image-set {
  position: absolute;
  text-align: center;
  overflow: hidden;
  margin: 20px;

  width: 500px;
  list-style: none;
  margin-left: 70px;
  margin-right: 70px;
  transition: background 1s, border-color .5s .5s;
  -webkit-transition: background 1s, border-color .5s .5s
}


ul.image-set:hover li {
  width: 0;
  opacity: 0;
  padding: 0;
}

ul.image-set li {
  float: left;
  width: 15%;
  padding: 1.5em;
  transition: width .3s .5s, opacity .3s .5s, padding .3s .5s
}

ul.image-set li:hover {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  background: #e8aaff;
}

ul.image-set li img {
  width: 100%;
  vertical-align: middle;
}
